{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
    <div class="col-sm-9 offset-sm-1">
     <div class="row">
        {% if customers and customers.count > 0 %}
            {% for c in customers %}
                <div class="col-sm-6">
                 <div class="card mb-3">
                    <div class="card-body">
                     <h5>{{ c.name }}</h5>
                     <p>{{ c.locality }}</p>
                     <p>{{ c.city }} - {{ c.zipcode }}</p>
                     <p>{{ c.state }}</p>
                    </div>
                 </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No addresses saved yet. Use the form below to add one.</p>
        {% endif %}
     </div>
     <hr>
     <h4>Add a new address</h4>
     <form method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
            <input name="name" class="form-control" placeholder="Full name">
        </div>
        <div class="col-md-6">
            <input name="locality" class="form-control" placeholder="Locality / Address">
        </div>
        <div class="col-md-4">
            <input name="city" class="form-control" placeholder="City">
        </div>
        <div class="col-md-4">
            <input name="zipcode" class="form-control" placeholder="Zipcode">
        </div>
        <div class="col-md-4">
            <input name="state" class="form-control" placeholder="State">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary mt-2">Save Address</button>
        </div>
     </form>
    </div>
 </div>
</div>
{% endblock main-content %}