{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <h4>Your Addresses</h4>
   {% if customers and customers.count > 0 %}
     {% for c in customers %}
       <div class="card mb-3">
         <div class="card-body">
           <h5>{{ c.name }}</h5>
           <p>{{ c.locality }}, {{ c.city }} - {{ c.zipcode }}</p>
           <p>{{ c.state }}</p>
         </div>
       </div>
     {% endfor %}
   {% else %}
     <p>No address found. <a href="{% url 'address' %}">Add an address</a>.</p>
   {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}